In [1]:
import pandas as pd
import numpy as np
from scipy import stats

In [ ]:
Q2. A hospital wants to determine whether there is any difference in the average Turn Around Time (TAT) of reports of the laboratories on their preferred list. They collected a random sample and recorded TAT for reports of 4 laboratories. TAT is defined as sample collected to report dispatch.
Analyze the data and determine whether there is any difference in average TAT among the different laboratories at 5% significance level.

In [4]:
df= pd.read_csv('C:/Users/aabdu/Desktop/Hypothesis testing/LabTAT.csv')
df.head()

   Laboratory 1  Laboratory 2  Laboratory 3  Laboratory 4
0        185.35        165.53        176.70        166.13
1        170.49        185.91        198.45        160.79
2        192.77        194.92        201.23        185.18
3        177.33        183.00        199.61        176.42
4        193.41        169.57        204.63        152.60

In [5]:
df.mean()

Laboratory 1    178.361583
Laboratory 2    178.902917
Laboratory 3    199.913250
Laboratory 4    163.682750
dtype: float64

In [6]:
df.std()

Laboratory 1    13.173594
Laboratory 2    14.957114
Laboratory 3    16.539033
Laboratory 4    15.085080
dtype: float64

In [ ]:
#here we will go with anova test as the output y which is the TAT is a contineous variable and there are more than 2 discrete variable that is there are more than 2 independent variables which are discrete in nature .

In [ ]:
Ho : average TAT of samples is same 
Ha : Atleast one sample TAT is different

In [8]:
test, p_value= stats.f_oneway(df.iloc[:,0], df.iloc[:,1], df.iloc[:,2], df.iloc[:,3])

In [9]:
p_value

2.1156708949992414e-57

In [ ]:
# here alpha is 0.05 and p value is less than alpha value . As such we reject null hypothesis and accept Ha. We conclude that there is diferrence in the average TAT of the labs.